* {
    padding: 0px;
    margin: 0px;
}
body {
    color: whitesmoke;
    background-color: #212121;
    text-align: center;
}
h1 {
    background-color: #c00;
    font-family: verdana;
    padding: 18px;
}
.button {
    height: 30px;
    width: 150px;
    font-size: 16px;
    font-weight: bolder;
    margin-right: 10px;
    color: whitesmoke;
    background-color: #c00;
    border: none;
}
.form-container {
    background-color: #171717;
    width: 40%;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2.8%;
    margin-left: 30%;
    margin-right: 5%;
    margin-top: 5%;
}
.label {
    font-size: 20px;
}
.cname,
.bname,
.payt,
.payi,
.payd,
.amt {
    height: 30px;
    font-weight: bolder;
    font-size: medium;
}